CAINIAO_USERNAME=请填入菜鸟账号
CAINIAO_PASSWORD=请填入密码
DINGTALK_WEBHOOK=https://oapi.dingtalk.com/robot/send?access_token=请填入钉钉机器人token
DINGTALK_SECRET=
HEADLESS=false
USE_PERSISTENT_BROWSER=true
CAINIAO_CHROME_PROFILE_DIR=/Users/你的用户名/Library/Application Support/CainiaoInventory/chrome-profile
LOW_STOCK_THRESHOLD=10
